.station-list {
    width: 60rem;
    height: auto;
    margin-top: 1rem;
    background-color: rgba(2, 119, 189, 0.5);
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.station-delete-list {
    color: black;
}

/*.station-text {*/
    /*width: 1rem;*/
    /*padding-top: 0;*/
/*}*/

.station_table {
    width: 50rem;
    /*border-collapse: collapse;*/
    border-spacing: 10px;
    text-align: center;
}