.contacts-block{
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
    }
.table_info {
    width: 80%;
    border-collapse: collapse;
    border-left: 3px solid #9093b0;
    border-right: 3px solid #9093b0;
    border-bottom: 3px solid #9093b0;
    font-family: "Lucida Grande", sans-serif;
}
.table_info caption {
    background:  #9093b0;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.table_info td, .table_info th {
    padding: 10px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.table_info th {
    text-align: left;
    font-size: 18px;
}
.table_info tr:nth-child(2n) {
    background: #E5E5E5;
}
.table_info td:last-of-type {
    text-align: center;
}
.table_info td:first-of-type {
    font-weight: bold;
}

.map {
    height: 400px;
    width: 80%;
    border-left: 3px solid #9093b0;
    border-right: 3px solid #9093b0;
    border-bottom: 3px solid #9093b0;
 }