@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption|Playfair+Display+SC:400i|Prata&subset=cyrillic');

.img-carousel{
    width:100%;
}
.carousel-caption{
    width: 40%;
    left:60%;
}
.string{
    width:100%;
    height:30px;
    font-size: 18px;
    font-family: 'PT Serif Caption', serif;
    /*margin:0px auto;*/
    line-height:28px;
    padding: 0 10px;
    /*border-radius:4px;*/
    /*box-shadow:0 1px 2px #777;*/
    /*-moz-border-radius:4px;*/
    /*-webkit-border-radius:4px;*/
    /*background: rgb(238,238,238);*/
    /*background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));*/
    /*background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);*/
    /*background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);*/
    /*background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);*/
    /*background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );*/
    /*background: rgb(45, 32, 58);*/
    /*background: radial-gradient( rgba(238, 238, 238,1) 5%,rgba(45, 32, 58, 1) 100%);*/
    background-color: rgb(45,32,58);
    border-top: #a6a6a6 solid 1px;
    /*box-shadow: 5px 3px 47px -13px #2d203a inset;*/
}

#slide-text {
    /*position: absolute;*/
    width: auto;
    font-size: 25px;
    /*margin-left:85%;*/
    /*bottom: 55px;*/
}
.back-text{
    width: 50px;
    /*background: rgba(257, 215,211,0.3);*/
}
.back-text li{
    text-align:left ;
    margin-left: 20%;
}


.slideUp{
    position: relative;
    /*height: 250px;*/
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateX(100%);
    }
    50%{
        transform: translateX(0%);
    }
    65%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(0%);
    }
    95%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateX(100%);
    }
    50%{
        -webkit-transform: translateX(0%);
    }
    65%{
        -webkit-transform: translateX(0%);
    }
    80%{
        -webkit-transform: translateX(0%);
    }
    95%{
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

h3 {
    font-weight: 700;
    color: #2d203a;
}
.titul-form h3,  .block-buy h3, .block-return h3{
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;

}
.titul-form h3:before,  .block-buy h3:before, .block-return h3:before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    height: 3px;
    background: #2d203a;

}
.titul-form h3:after,  .block-buy h3:after, .block-return h3:after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 3px;
    background: #2d203a;

}
.autocomplete-block {
    position: relative;
    left:15%;
    width:70%;
    height: 140px;
    border-radius:4px;
    /*margin: auto auto;*/
    /*background-color: #947cb0;*/
    background: rgb(40, 30, 30);
    background: radial-gradient( rgba(238, 238, 238,1) 5%,rgba(45, 32, 58, 1) 100%);
}

.autocomplete-general{
    position: relative;
    width:100%;
    height: 70px;

}
.autocomplete-input1 {
    position: relative;
    top: 13px;
    left: 5%;
    width:40%;
    height: auto;
}
.autocomplete-transfer{
    position: relative;
    bottom: 17px;
    left: 49%;
    width:30px;
    height: auto;
    text-align: center;
}

.autocomplete-transfer:hover {
    color: white;
    background-color: rgba(45, 32, 58, 0.5);
}

.autocomplete-input2 {
    position: relative;
    bottom: 111px;
    left: 55%;
    width:40%;
    height: auto;
}
.autocomplete-input3 {
    position: relative;
    left: 5%;
    width:40%;
}
.form-group-btn{
    position: relative;
    left: 75%;
    width: 20%;
    bottom: 35px;
}
.btn-save{
    width: 100%;
    background-color: gold;
    border-color: gold;
    color: #0a0a0a;
    font-family: Arial, sans-serif;

}
.btn-save:hover,.btn-save:focus{
    background-color: #fde3a7;
    border-color: #fde3a7;
    color: #0a0a0a;
}
.btn-save:active{
    background-color: gold;
    border-color: gold;
    color: #0a0a0a;
}
#text-form{
    font-weight:bold;
    color: #f7f7f7;
}
/*!*smart landscape*!*/
/*@media only screen and (min-width : 321px) {*/

/*}*/
/*!*smart portrait*!*/
/*@media only screen and (max-width : 320px) {*/
    /*.carouselmain {*/
        /*width: 100%;*/
        /*min-height: 100px;*/
        /*height: 30%;*/
    /*}*/
    /*.form-group-btn {*/
        /*position: relative;*/
        /*left: 65%;*/
        /*width: 30%;*/
    /*}*/
   /*.btn-save{*/
        /*font-size: 12px;*/

    /*}*/
  /**/
/*}*/
/*@media (max-width: 767px) {*/

/*}*/
/*!*Выше для обычных моников, ниже - остальное*!*/
/*@media (min-width: 768px) and (max-width: 991px) {*/
    /*!* стили для sm-устройств *!*/
/*}*/
/*@media (min-width: 991px) and (max-width: 1199px) {*/
    /*!* стили для md-устройств *!*/
/*}*/
/*@media only screen and (min-width : 1824px)*/
/*{*/

/*}*/



.text-info {
    color: #0f0f0f;
}

@media all and ( min-width: 600px ) {

    .carouselmain {
        width: 100%;
        min-height: 400px;
        height: 30%;
    }
    .block-buy{
        float: left;
        margin-left: 30px;
        width: 45%;
    }
    .block2-buy{
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
    }
    .block-return {
        float: right;
        margin-right: 30px;
        width: 45%;
    }
    .block2-return {
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
    }
    .text-info{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .image-info{
        float: left;
        margin: 10px 10px 0px 0px;
        display: block;
        max-width: 100%;
        height: auto;
   }

}