
.login-form{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    /*-ms-border-radius: 8px;*/
    /*-o-border-radius: 8px;*/
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    border: 1px solid #CCC;
    background-color: #f3eee0;

}
.login-form-in{
    margin: 20px 20px 20px 20px;
}