@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
.page-view {
    width: 100%;
    height: 60px;
}
.container{
    width:95%;
    /*margin-right: %;*/
}
.footer{
    height: auto;
}
.navbrand{
    height:280%;
    width: auto;
    margin-top: -10%;
}


#navbar-main.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#navbar-main.navbar-default {
    font-size: 17px;
    font-family: 'Open Sans', serif;
    background-color: rgba(45, 32, 58, 1);
    border-width: 0px;
    border-radius: 0px;
    /*height: 60px;*/
}
#navbar-main.navbar-default .navbar-nav>li>a {
    color: rgba(236, 236, 236, 1);
    background-color: rgba(45, 32, 58, 1);
    height: 60px;
    padding-top: 20px;

}
#navbar-main.navbar-default .navbar-nav>li>a:hover,
#navbar-main.navbar-default .navbar-nav>li>a:focus {
    color: rgba(45, 32, 58, 1);
    background-color: rgba(236, 236, 236, 1);
    /*height: 60px;*/

}
#navbar-main.navbar-default .navbar-nav>.active>a,
#navbar-main.navbar-default .navbar-nav>.active>a:hover,
#navbar-main.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(45, 32, 58, 0.67);
    /*background-color: rgba(254, 203, 48, 1);*/
    background-color: rgba(236, 236, 236, 1);
    /*height: 60px;*/
}
#navbar-main.navbar-default .navbar-toggle {
    border-color: #ececec;
}
#navbar-main.navbar-default .navbar-toggle:hover,
#navbar-main.navbar-default .navbar-toggle:focus {
    /*background-color: #fecb30;*/
    background-color: #ececec;
}
#navbar-main.navbar-default .navbar-toggle .icon-bar {
    background-color: #ececec;
}
#navbar-main.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-main.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ececec;
}