
.profile-block {
    /*position: relative;*/
    width: 40%;
    height: 30rem;
    margin: 50px auto;
    color: white;
    background-color: rgba(45,32,58,0.8);
}

.profile-head {
    width: 100%;
    height: 10rem;
    padding-top: 1.5rem;
    text-align: center;
}

.profile-body {
    width: 100%;
    height: 15rem;
    padding-top: 4rem;
    padding-left: 4rem;
}

.profile-footer {
    width: 100%;
    height: 5rem;
    padding-top: 0.7rem;
    text-align: center;
}

.profile-body-text {
    font-size: large;
}

/*.profile-order-block {*/
    /*position: relative;*/
    /*width: 50%;*/
    /*height: auto;*/
    /*margin: auto auto;*/
/*}*/

/*.order-profile {*/
    /*float: left;*/
    /*margin-left: 5px;*/
    /*width: 35%;*/
    /*height: 200px;*/
    /*background-color: #a6a6a6;*/
/*}*/

.profile-history-table {
    background-color: #FFFFFF;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    /*border: solid 2px white;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 2%;*/
}
.divHTableHead, .divHTableCell{
    width: 3%;
   }

.divPro-HTable.profile-history-table .divHTableCell, .divPro-HTable.profile-history-table .divHTableHead {
    /*border: 2px solid #FFFFFF;*/
    padding: 10px 10px;
    /*border-bottom: 5px solid #FFFFFF;*/
}
.divPro-HTable.profile-history-table .divHTableCell {
    border-bottom: 35px solid #EEEEEE;
}

.divPro-HTable.profile-history-table .divHTableBody .divHTableCell {
    font-size: 13px;
    color: #111111;
}
.divPro-HTable.profile-history-table .divHTableHeading {
    background: rgba(45,32,58,0.8);
    /*border-bottom: 10px solid #FFFFFF;*/
}
.divPro-HTable.profile-history-table .divHTableHeading .divHTableHead {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

/* DivTable.com */
.divPro-HTable{ display: table; }
.divHTableRow { display: table-row; }
.divHTableHead { display: table-header-group;}
.divHTableCell, .divHTableHead { display: table-cell;}
.divHTableHeading { display: table-header-group;}
.divHTableFoot { display: table-footer-group;}
.divHTableBody { display: table-row-group;}