.return-table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
.return-table th, return-table td:first-child {
    background: #2d203a;
    color: white;
    padding: 10px 20px;
}
.return-table th,.return-table td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    padding: 10px 20px;
}
.return-table td {
    background: #f3eee0;
    color: black;
}
.return-table th:first-child, .return-table td:first-child {
    text-align: left;
}

.return-text {
    font-size: 16px;
    font-style: italic;
    padding: 10px;
 }
.return-ticket-form{
    width: 80%;
    margin-left: 10%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    /*-ms-border-radius: 8px;*/
    /*-o-border-radius: 8px;*/
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    border: 1px solid #CCC;
    background-color: #f3eee0;
}
.return-form-in{
    margin: 20px 20px 20px 20px;
}

/* resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* global */
.wrapper {
    margin: 0 auto;
    padding: 10px;
    max-width: 95%;
}
/* grid */
.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 10px;
    width: 100%;
}
.form-btn-return{
    position: relative;
    left: 75%;
    width: 20%;
    bottom: 35px;
}
.btn-return{
    width: 100%;
    background-color: #2d203a;
    border-color: #9093b0;
    color: #f3eee0;
    font-family: Arial, sans-serif;

}
.btn-return:hover,.btn-return:focus{
    background-color: #764e89;
    border-color: #412489;
    color: #f3eee0;
}
.btn-return:active {
    background-color: #2d203a;
    border-color: #9093b0;
    color: #f3eee0;
}
@media all and ( min-width: 600px ) {
    /* set col widths */
    .col-2-3 {
        width: 55.66%;
    }
    .col-1-3 {
        margin-top: 55px;
        width: 44.33%;
    }
    .col-1-4 {
        width: 20%;
    }
    .col-2-4 {
        /*margin-top: 55px;*/
        width: 60%;
    }
    .col-1-5 {
        /*margin-left: 436px;*/
     width: 70%;
    }
    .col-4-5 {
        /*margin-left: 436px;*/
        width: 30%;
    }
}