#col-center{
    text-align: center;
}
#col-width-num1{
    width: 5%;
}
#col-width-num{
    width: 4%;
}
.sch-table {
    background-color: #E1D5F0;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.divTableHead{
    width:14%;
}
.divTableCell{
    width:11%;
}
.divTableCell{
    vertical-align: middle;
}
.divTable.sch-table .divTableCell, .divTable.sch-table .divTableHead {
    border: 0px solid #555555;
    padding: 10px 10px;
    border-bottom: 5px solid #EEEEEE;
}

.divTable.sch-table .divTableBody .divTableCell {
    font-size: 13px;
    color: #111111;
}
.divTable.sch-table .divTableHeading {
    background: #492255;
    border-bottom: 10px solid #EEEEEE;
}
.divTable.sch-table .divTableHeading .divTableHead {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}
.sch-table .tableFootStyle {
    font-size: 13px;
}
.sch-table .tableFootStyle .links {
    text-align: right;
}
.sch-table .tableFootStyle .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A43152;
    padding: 2px 8px;
    border-radius: 5px;
}
.sch-table.outerTableFooter {
    border-top: none;
}
.sch-table.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHead { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}


.btn-details{
    width: 100%;
    background-color:#764e89;
    border-color: #9093b0;
    color: #f3eee0;
    font-family: Arial, sans-serif;

}
.btn-details:hover,.btn-details:focus{
    background-color: #bfbfbf;
    border-color: #d8cfdb;
    color: #4b224e;
}
.btn-details:active {
    background-color: #d23251;
    border-color: #9093b0;
    color: #f3eee0;
}


.sch-small-table {
    /*background-color: #E1D5F0;*/
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    /*border-collapse: collapse;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 2%;*/
}
.divSmallTableHead, .divSmallTableCell{
    width: 33.3333333%;
}
.divSmallTableCell{
    vertical-align: middle;
}
.divSmallTable.sch-small-table .divSmallTableCell, .divSmallTable.sch-small-table .divSmallTableHead {
    border: 0px solid #555555;
    padding: 10px 10px;
    border-bottom: 5px solid #FFFFFF;
}

.divSmallTable.sch-small-table .divSmallTableBody .divSmallTableCell {
    font-size: 13px;
    color: #111111;
}
.divSmallTable.sch-small-table .divSmallTableHeading {
    background: #492255;
    border-bottom: 10px solid #FFFFFF;
}
.divSmallTable.sch-small-table .divSmallTableHeading .divSmallTableHead {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}
/* DivTable.com */
.divSmallTable{ display: table; }
.divSmallTableRow { display: table-row; }
.divSmallTableHead { display: table-header-group;}
.divSmallTableCell, .divSmallTableHead { display: table-cell;}
.divSmallTableHeading { display: table-header-group;}
.divSmallTableFoot { display: table-footer-group;}
.divSmallTableBody { display: table-row-group;}


/* Выбор места */
.schedule-view{
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border: solid 2px #492255;
}
.select-places {
    width: 25.5rem;
    height: 12.5rem;
    margin: 10px auto 10px auto;
    background-color: #a6a6a6;
    border: #231c8d solid 2px;
    border-radius: 14% 14% 14% 14%;
    color: #0d0b31;
}
.block-places{
    width: 20rem;
    height: 12rem;
    margin: 5px 5px;
    /*border: solid 2px;*/
}
.driver-place{
    position: relative;
    float: right;
    width: 3rem;
    height: 6rem;
    margin-top: -125px;
    background-color: #0a6396;
    color: #1d1d1d;
    -moz-user-select: none;
    border: 1px solid #231c8d;
    border-radius: 0% 100% 100% 0%;
}
#text-dr{
    font-size: smaller;
    margin-top: 35px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.placess {
    position: relative;
    float: left;
    width: 3rem;
    height: 3rem;
    margin-top: 5px;
    margin-left: 1px;
    background-color: rgba(0, 4, 25, 0.33);
    text-align: center;
    -moz-user-select: none;
    border: 1px solid #231c8d;
    border-radius: 0% 100% 100% 0%;
}

.places {
    position: relative;
    float: left;
    width: 3rem;
    height: 3rem;
    margin-top: 5px;
    margin-left: 1px;
    background-color: #0b93d5;
    text-align: center;
    -moz-user-select: none;
    border: 1px solid #231c8d;
    border-radius: 0% 100% 100% 0%;
}

.places:hover {
    color: white;
    background-color: #253b63;
}

.btn-order{
    width: 50%;
    margin-bottom: 10px;
    background-color:#764e89;
    border-color: #9093b0;
    color: #f3eee0;
    font-family: Arial, sans-serif;

}
.btn-order:hover,.btn-details:focus{
    background-color: #bfbfbf;
    border-color: #d8cfdb;
    color: #4b224e;
}
.btn-order:active {
    background-color: #d23251;
    border-color: #9093b0;
    color: #f3eee0;
}

.purchase{
    width: 100%;
}
.btn-purchase{
    width: 25%;
    margin-bottom: 10px;
    background-color:#764e89;
    border-color: #9093b0;
    color: #f3eee0;
    font-family: Arial, sans-serif;

}
.btn-purchase:hover{
    background-color: #bfbfbf;
    border-color: #d8cfdb;
    color: #4b224e;
}
.btn-purchase:active {
    background-color: #d23251;
    border-color: #9093b0;
    color: #f3eee0;
}

.card-form{
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid #CCC;
    background-color: #f3eee0;
}

.card-form-in{
    margin: 20px 20px 20px 20px;
}

.ticket-blank{

}