#col-centr{
    text-align: center;
}
#col-width-num-head{
    width: 3%;
}
#col-width-numb{
    width: 3%;
}

.search-table {
    background-color: #E1D5F0;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.search-head-info, .search-data-info{
    width: 13.3333333%;
}
.search-data-info{
    vertical-align: middle;
}
.divTableS.search-table .search-data-info, .divTableS.search-table .search-head-info {
    border: 0px solid #555555;
    padding: 10px 10px;
    border-bottom: 5px solid #EEEEEE;
}

.divTableS.search-table .search-body .search-data-info {
    font-size: 13px;
    color: #111111;
}
.divTableS.search-table .search-head {
    background: #492255;
    border-bottom: 10px solid #EEEEEE;
}
.divTableS.search-table .search-head .search-head-info {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}
.search-table .tableFootStyle {
    font-size: 13px;
}
.search-table .tableFootStyle .links {
    text-align: right;
}
.search-table .tableFootStyle .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A43152;
    padding: 2px 8px;
    border-radius: 5px;
}
.search-table.outerTableFooter {
    border-top: none;
}
.search-table.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}
/* DivTable.com */
.divTableS{ display: table; }
.search-head-info { display: table-header-group;}
.search-data-info, .search-head-info { display: table-cell;}
.search-head { display: table-header-group;}
.search-body { display: table-row-group;}

.btn-buy-ticket{
    width: 80%;
    background-color:#764e89;
    border-color: #9093b0;
    color: #f3eee0;
    font-family: Arial, sans-serif;

}
.btn-buy-ticket:hover,.btn-buy-ticket:focus{
    background-color: #bfbfbf;
    border-color: #d8cfdb;
    color: #4b224e;
}
.btn-buy-ticket:active {
    background-color: #d23251;
    border-color: #9093b0;
    color: #f3eee0;
}